html {
    height: -webkit-fill-available;
    align-content: center
}

body {
    text-align: center;
    align-content: center;
  
    color: white;
    background-color: black;
    font-family: math;
}
  
#bg-image {
    background-image: url("https://images.pexels.com/photos/2098134/pexels-photo-2098134.jpeg?auto=compress&cs=tinysrgb&w=600");
    
    position: absolute;
    inset: 0;
    z-index: -1;
  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  
    opacity: 0.2;
}
  
h1 {
    font-size: 4rem;
    line-height: 1.2;
  
    font-family: 'Beth Ellen';
}
  
h1 span {
    color: #FF5563;
}
  
p {
    font-size:  1.25rem;
    margin-bottom: 4.5rem;
}
  
a {
    color: white;
    background-color: #FF5563;
    text-decoration: none;
    
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: .5rem;
  
    transition: background-color 300ms;
}
  
a:hover {
    background-color: #E03644;
}
  
@media (width < 40rem) {
    html {
        font-size: 70%;
    }
}
  
h1, p, a {
    animation: appear 1s backwards;
}
  
h1 {
    animation-delay: 0.2s;
}
  
p {
    animation-delay: 0.8s;
}
  
a {
    animation-delay: 1.6s;
}
  
@keyframes appear {
    0% {
        opacity: 0;
    }
}